@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#FCD1D1;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var#FCD1D1;
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#f7f7f7;
}

section{
  padding:2rem 9%;
}

.heading{
  margin-top: 50px;
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:#B91646;
}

.btn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid #FCD1D1;
  color:#FCD1D1;
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}
#orderbtn{
  border:.2rem solid #B91646;
  color:#B91646;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background:#B91646;
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:#fff;
}
#orderbtn:hover{
  color:#fff;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to left, pink , #fff);
  padding:2rem 9%;
  height: 65px;
  box-shadow: 10 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 2.5rem;
  font-weight: bolder;
  color:#B91646;
  text-transform: lowercase;

  
}

header .logo i{
  padding-right: .5rem;
  color:#B91646;
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color:#171010;
}

header .navbar a:hover{
  color:#B91646;
  font-weight: bold;
}

#icon{
  color: #B91646;
}

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}

.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url(images/pexels-anne-r-4602025.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
}

.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:100%;
  padding:1rem;
  animation:float 3s linear infinite;
}


@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

.home .content h3{
  font-size: 70px;
  color:black;
  border-top-left-radius: 0rem;
  font-family: 'Spartan', sans-serif;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}

#firstRow{
  background-color: #D3E0DC;
  width: 100%;
  height: 500px;
}

#secondRow{
  background-color: #ECE2E1;
  width: 100%;
  height: 500px;
}

#thirdRow{
  background-color: #D3E0DC;
  width: 100%;
  height: 500px;
}

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallery .box-container .box{
  height:25rem;
  flex:1 1 30rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;

} 

.gallery h3{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Yantramanav', sans-serif;
  font-size: 25px;
  color:#B91646;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

.gallery .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.aboutUs p{
  font-size: 20px;
  text-align: center;
  color: black;
  border-top-right-radius: 0rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutUs .box-container .box img{
  height: 50rem;
  flex:1 1 30rem;
  border:1rem solid #FCD1D1;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.aboutUs .box-container .box p{
  margin-top: 12px;
  font-size: 21px;
  color:#B91646;
  padding: 10px;
  text-align-last: center;
  letter-spacing: .2px;

}


.aboutUs .box-container .box p span{
  font-weight: bold;
}

.aboutUs .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.aboutUs .box-container .box{
  height:75rem;
  flex:1 1 30rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;

} 

.review .box-container{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.review .box-container .box{
  text-align: center;
  padding:2rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: .5rem;
  flex:1 1 30rem;
  background:#333;
  margin-top: 6rem;
}

.review .box-container .box img{
  height: 12rem;
  width:12rem;
  border-radius: 50%;
  border:1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.review .box-container .box .stars i{
  font-size: 2rem;
  color:#FCD1D1;
  padding:.5rem 0;
}

.review .box-container .box p{
  font-size: 1.5rem;
  color:#eee;
  padding:1rem 0;
}


.footer{
  background:#000;
  text-align: center;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit{
  padding:2.5rem 1rem;
  color:#fff;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:#FCD1D1;
}

#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding:.5rem 1.5rem;
  font-size: 4rem;
  background:#FCD1D1;
  color:#000;
  border-radius: .5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active{
  top:calc(100% - 12rem)
}

.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.loader-container.fade-out{
  top:-120%;
}

/* media queries  */

@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background: linear-gradient(45deg, pink, transparent);
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    margin: 1.5rem;
    padding:1.5rem;
    display: block;
    border:.2rem solid rgba(0,0,0,.1);
    border-left:.5rem solid #FCD1D1;
    background:#fff;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

}


/* weeeee */
.content .input-box{
  height: 30px;
  width: 100%;
  margin: 16px 0;
  margin-top: 30px;
  position: relative;
}
.content .input-box input{
  padding-left: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 150%;
  width: 50%;
  border-radius: 6px;
  font-size: 13px;
  outline: none;
  background-color:gainsboro;
  border: 2px solid #FCD1D1;
  transition: all 0.3s ease;
}

.content .message-box{
  top: 10px;
  min-height: 100px;
  position: relative;
}
.content .message-box textarea{
  padding-left: 16px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 50%;
  border-radius: 6px;
  font-size: 13px;
  outline: none;
  background-color:gainsboro;
  border: 2px solid #FCD1D1;
  transition: all 0.3s ease;
  padding: 16px;
  resize: none;
}

textarea::placeholder{
  font-size: 13px;
  color: #333;
  left: 18px;
  top: 15px;
}

input::placeholder{
  font-size: 13px;
  color: #333;
  left: 18px;
  top: 15px;
}

.content .input-box input[type="submit"]{
  margin-top: 25px;
  top: 15px;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: pink;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  border-color: pink;

}
.content .input-box input[type="submit"]:hover{
  background-color: #FCD1D1;
  border-color: #FCD1D1;
  color: #000;
}
@media(max-width:1000px){
  .content .image-box{
      max-width: 70%;
  }
  .content{
      padding: 10px 0;
  }
}
@media(max-width:900px){
  .content .image-box{
      display: none;
  }
  .content form{
      width: 100%;
      margin-left: 30px;
  }
}

#map {
  /* margin-top: 60px;
  margin-left: 100%;
  margin-right: 100%;
  width: 100%;
  height: 100%; */
  padding-left: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 150%;
  width: 50%;
  border-radius: 6px;
  border-radius: 10px;
}
#rowmap{
  height: 350px;
}
